<div class="row">
  <div class ="container">
    <h2>Manage your Drinks!</h2>    
  </div>
</div>
<div class="row">
  <div class="container">
    <button class="btn btn-primary btn-large" ng-click="vm.showSearch = true; vm.showAddDrink = false; vm.userDrinks = false; vm.successMessage = false; vm.noDrinksMessage = false;">Find a new Drink!</button>
  </div>
</div>
<div class="row">
  <div class="container">
    <button class="btn btn-info btn-large" ng-click="vm.getMyDrinks()">View My Drinks</button>
  </div>
</div>
<div class="row">
  <div class="container">
    <div ng-show="vm.errorMessage">
      <error-message></error-message>
    </div>
    <div class="col-md-4" ng-show="vm.successMessage">
      <success-message></success-message>
    </div>
  </div>
</div>
<div class="row" ng-show="vm.showSearch">
  <div class="container">
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="vm.findDrinkByName()">Search</button>
        </span>
        <input type="text" class="form-control" ng-model="vm.drinkName" placeholder="Enter Drink Name">
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="vm.isLoading">
  <div class="container">
    <img src="/images/hex-loader.gif" height="100" width="150">
  </div>
</div>
<div class="row" ng-show="vm.noDrinksMessage">
  <div class="container">
    <div class="col-md-4">
      <h3>{{vm.noDrinksMessage}}</h3>
    </div>
  </div>
</div>

<!-- Find a Drink Table -->
<div class="row" ng-show="vm.drinks">
  <div id="drink-table" class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Style</th>
          <th>ABV</th>
          <th>Company</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="drink in vm.drinks" ng-click="vm.selectDrink(drink)">    
          <td>{{drink.type}}</td>
          <td>{{drink.name}}</td>
          <td>{{drink.style}}</td>
          <td>{{drink.abv}}</td>
          <td>{{drink.company}}</td>
          <td>{{drink.city}}</td>
          <td>{{drink.state}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- User Drink Table -->
<div class="row" ng-show="vm.userDrinks">
  <div id="user-drink-table" class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Style</th>
          <th>ABV</th>
          <th>Company</th>
          <th>City</th>
          <th>State</th>
          <th>Taste Notes</th>
          <th>Smell Notes</th>
          <th>Other Notes</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="drink in vm.userDrinks">    
          <td>{{drink.type}}</td>
          <td>{{drink.name}}</td>
          <td>{{drink.style}}</td>
          <td>{{drink.abv}}</td>
          <td>{{drink.company}}</td>
          <td>{{drink.city}}</td>
          <td>{{drink.state}}</td>
          <td ng-hide="vm.isEditingDrink(drink._id)">{{drink.tasteNotes}}</td>
          <td ng-show="vm.isEditingDrink(drink._id)">
            <input type="text" class="form-control input-md" ng-model="vm.editedDrink.tasteNotes"></input>
          </td>
          <td ng-hide="vm.isEditingDrink(drink._id)">{{drink.smellNotes}}</td>
          <td ng-show="vm.isEditingDrink(drink._id)">
            <input type="text" class="form-control input-md" ng-model="vm.editedDrink.smellNotes"></input>
          </td>
          <td ng-hide="vm.isEditingDrink(drink._id)">{{drink.otherNotes}}</td>
          <td ng-show="vm.isEditingDrink(drink._id)">
            <input type="text" class="form-control input-md" ng-model="vm.editedDrink.otherNotes"></input>
          </td>
          <td ng-hide="vm.isEditingDrink(drink._id)">{{drink.rating}}</td>
          <td ng-show="vm.isEditingDrink(drink._id)">
            <input type="text" class="form-control input-md" ng-model="vm.editedDrink.rating"></input>
          </td>
          <td ng-hide="vm.isEditingDrink(drink._id)">
            <span class="clickable-icon" ng-click="vm.beginEditDrink(drink._id)"><i class="fa fa-pencil-square-o"></i></span>
            <span class="clickable-icon" ng-click="vm.deleteDrink(drink._id)"><i class="fa fa-trash"></i></span>
          </td>
          <td ng-show="vm.isEditingDrink(drink._id)">
            <span class="clickable-icon" ng-click="vm.updateDrink()"><i class="fa fa-thumbs-o-up"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form name="newDrinkForm" ng-show="vm.showAddDrink" ng-submit="vm.addDrink()" novalidate>
  <div class="row">
    <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <td><h4>Type:</h4></td>
            <td>{{vm.selectedDrink.type}}</td>
          </tr>
          <tr>
            <td><h4>Name:</h4></td>
            <td>{{vm.selectedDrink.name}}</td>
          </tr>
          <tr>
            <td><h4>Style:</h4></td>
            <td>{{vm.selectedDrink.style}}</td>
          </tr>
          <tr>
            <td><h4>ABV:</h4></td>
            <td>{{vm.selectedDrink.abv}}</td>
          </tr>
          <tr>
            <td><h4>Company:</h4></td>
            <td>{{vm.selectedDrink.company}}</td>
          </tr>
          <tr>
            <td><h4>City:</h4></td>
            <td>{{vm.selectedDrink.city}}</td>
          </tr>
          <tr>
            <td><h4>State:</h4></td>
            <td>{{vm.selectedDrink.state}}</td>
          </tr>
          <tr>
            <td><h4>Taste Notes:</h4></td>
            <td><input type="text" class="form-control input-lg" placeholder="Description" ng-model="vm.userDrink.tasteNotes" required></input></td>
          </tr>
          <tr>
            <td><h4>Smell Notes:</h4></td>
            <td><input type="text" class="form-control input-lg" placeholder="Description" ng-model="vm.userDrink.smellNotes" required></input></td>
          </tr>
          <tr>
            <td><h4>Other Notes:</h4></td>
            <td><input type="text" class="form-control input-lg" placeholder="Description" ng-model="vm.userDrink.otherNotes" required></input></td>
          </tr>
          <tr>
            <td><h4>Rating:</h4></td>
            <td><input type="text" class="form-control input-lg" placeholder="Description" ng-model="vm.userDrink.rating" required></input></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary btn-large" ng-disabled="newDrinkForm.$invalid">Add My Drink</button>
      </div>
    </div>
  </div>
</form>
<br/>